@charset "ISO-8859-1";

body{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

header{
	text-align: center;
	background: black;
	padding: 50px;
}

h1{
	font-size: 40px;
	font-weight: 400;
}

main{
	padding: 50px;
}

h2{
	font-size: 25px;
	font-weight: 400;
	color: black;
	background: #b9c2c8;
	padding: 20px;
	border-radius: 10px;
}

input {
	border: none;
	border-radius: 5px;
	height: 30px;
}